extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  div(id="welcome_message")
    h1 Welcome, #{currentUser.username}!
  .content-blocks
    div(id="visited_grid")
      h2 Visited Restaurants:
        if visitedRestaurants.length
          - var n = 0;
          while n < 3
            - ++n
            div
              a(href=`/restaurants/${visitedRestaurants[n].id}`)= visitedRestaurants[n].name
        else
          p You have no visited restaurants yet!

    div(id="wanted_grid")
      h2 Want To Visit:
        if wantToVisit.length
          - var n = 0;
          while n < 3
            - ++n
            div
              a(href=`/restaurants/${wantToVisit[n].id}`)= wantToVisit[n].name
        else
          p You have no restaurants in your want to visit list! :)
    div(id="top_restaurants")
      h2 Top Rated Restaurants:
        each restaurant in highestRated
          div
            a(href=`/restaurants/${restaurant.Restaurant.id}`)= restaurant.Restaurant.name
