extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1 Welcome, #{currentUser.username}
  h2 Visited Restaurants
    //- each restaurant in visitedRestaurants
    //-   div
    //-     a(href='/restaurants/:id')= restaurant.name
    - var n = 0;
    while n < 3
      - ++n
      div= visitedRestaurants[n].name
    
  
      
  h2 Want To Visit
    - var n = 0;
    while n < 3
      - ++n
      div= wantToVisit[n].name

