doctype html
html
  head
    block head
      title="Express Starter App"
      link(rel='stylesheet' href='/stylesheets/index.css')
  body
    nav
      img(src='../media/logos/goodread_logo.png')
      a(href='/') Home
      a(href='/restaurants/visited') Visited Restaurants
      a(href='/users/want-to-visit') Want to Visit
      a(href='/restaurants') Browse
      input(type="text")
  block content
