extends layout.pug

block content
  .restaurant-subpage
    h1  Browse
    h2 Check out the hottest restaurants below!
      each restaurant in showRestaurants
        div
          a(href=`/restaurants/${restaurant.id}` class="want-to-visit-links")= restaurant.name
        div
          a(href=`/restaurants/${restaurant.id}`)
            img(src=restaurant.img class="image-subpage")