extends layout.pug

block content 
  form(action="/users/login" method="post")
    input(type="hidden", name="_csrf", value=csrfToken)
      div
        label(for="email") Email
        input(type="email" name="email" id="email" value=user.email placeholder="Email" required)
      div
        label(for="password") Password
        input(type="password" name="password" id="password" value=user.hashedPassword placeholder="Password" required)
      div
        button(type="submit") Login!