extends layout.pug

block content
  if errors
    div(class='alert alert-danger' role='alert')
      p The following error(s) occurred:
      ul
        each error in errors
          li= error
  div(class="form-container")
    h1(id="form-header") favorEats
    div(class="form-div")
      form(action="/users/login" class="form" method="post")
        div(class="form-field-container")
          input(type="hidden" name="_csrf" value=csrfToken)
          div.input-div
            label(for="email")
            input(type="email" name="email" id="email" value=user.email placeholder="email" class="input-field")
          div.input-div
            label(for="password")
            input(type="password" name="password" id="password" placeholder="password" class="input-field")
          div.button-div
            button(type="submit" id="login-button") Login!
          a(href="/users/sign-up" class="form-redirect") Don't have an account? Sign up here.
