extends layout.pug

block content 
  if errors
    div(class='alert alert-danger' role='alert')
      p The following error(s) occurred:
      ul
        each error in errors
          li= error
  div(class="form")
    form(action="/users/login" method="post")
      div(class="form-field-container")
        input(type="hidden" name="_csrf" value=csrfToken)
        div.input-div
          label(for="email") 
          input(type="email" name="email" id="email" placeholder="Email" class="input-field")
        div.input-div
          label(for="password") 
          input(type="password" name="password" id="password" placeholder="Password" class="input-field")
        div
          button(type="submit" class="input") Login!