extends layout.pug

block content
  if errors
    div(class='alert alert-danger' role='alert')
      p The following error(s) occurred:
      ul
        each error in errors
          li= error
  div(class="form-container")
    h1(id="form-header") favorEats
    div(class="form-div")
      form(action="/users/sign-up" class="form" method="post")
        input(type="hidden", name="_csrf", value=csrfToken)
        div.input-div
          input(type="text" name="username" id="username" value=user.username placeholder="Username" class="input-field")
        div.input-div
          input(type="email" name="email" id="email" value=user.email placeholder="Email" class="input-field")
        div.input-div
          input(type="password" name="password" id="password" placeholder="Password" class="input-field")
        div.input-div
          input(type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" class="input-field")
        div.button-div
          button(type="submit" id="signup-button") Sign Up!
        a(href="/users/login" class="form-redirect") Already have an account? Login here.
