extends layout

block content
  h1 Hi, #{currentUser.username}!
  h2 These are the restaurants that you would like to visit:
    each restaurant in wantToVisit
      div
        a(href=`/restaurants/${restaurant.id}` class="want-to-visit-links")= restaurant.name
      div
        img(src=restaurant.img width="100px" height="100px")
