extends layout

block content
  h1 Hi, #{currentUser.username}!
  h2 These are the restaurants that you would like to visit:
    each restaurant in wantToVisit
      div
        a(href=`/restaurant/${wantToVisit.id}` class="want-to-visit-links")= restaurant.name
