extends layout

block content
  .restaurant-subpage
    h1(id="want-to-visit-title") Want To Visit
    h2(id="want-to-visit-h2") These are the restaurants that you would like to visit:
      each restaurant in wantToVisit
        div
          a(href=`/restaurants/${restaurant.id}` class="want-to-visit-links")= restaurant.name
        div
          a(href=`/restaurants/${restaurant.id}`)
            img(src=restaurant.img id="want-to-visit-img")
        div
          form(method="post" action="/restaurants/want-to-visit/delete" id=restaurant.id)
            button(type="submit" class="form-button" id="remove-button") Remove

