@import url("https://fonts.googleapis.com/css?family=Sofia");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

body {
  background-color: #f8f4e3;
  background-image: url("https://www.transparenttextures.com/patterns/food.png");
  background-attachment: fixed;
}

.no-outline:focus {
  outline: none;
}

.nav-li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}



}

.alert-danger {
  color: red;
}

#all-restaurants {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}

#form-header {
  display: flex;
  justify-content: center;
  font-family: "Sofia", sans-serif;
  font-size: 80px;
  color: #b5e2fa;
  text-decoration: underline rgb(199, 197, 197);
}
.input-field {
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  color: #3a3a3a;
  height: 50px;
  width: 350px;
  text-align: center;
  border-radius: 0.7em;
}

.form-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.input-div {
  padding: 5px;
}

.button-div {
  padding: 5px;
  display: flex;
  justify-content: center;
  padding-top: 5%;
  margin-bottom: 5%;
}
.form-container {
  border: 2px solid #3a3a3a;
  margin: 5% 37% 40% 37%;
  padding-bottom: 2%;
  border-radius: 3em;
}
#login-button {
  height: 50px;
  width: 90px;
  font-family: "Dancing Script", cursive;
  font-size: 20px;
  font-weight: bold;
  font-size: 25px;
  background-color: rgb(207, 207, 207);
  color: #6d6d6d;
  border-radius: 2em;
  outline: none;
}

#signup-button {
  height: 50px;
  width: 150px;
  font-family: "Dancing Script", cursive;
  font-size: 20px;
  font-weight: bold;
  font-size: 25px;
  background-color: rgb(207, 207, 207);
  color: #6d6d6d;
  border-radius: 2em;
  outline: none;
}

/* a:link {
  color: #b5e2fa;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  margin-left: 12%;
} */

.want-to-visit-links {
  color: #8ed3f8;
  font-family: "Quicksand", sans-serif;
  font-size: 50px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

#visited-img {
  width: 600px;
  height: 400px;
  border-radius: 0.7em;
  margin-top: 5px;
  border: solid 3px #8ed3f8;
}

#index-visited-img {
  border: solid 3px #8ed3f8;
}

#index-want-img {
  border: solid 3px #8ed3f8;
}

#index-top-img {
  border: solid 3px #8ed3f8;
}

#visited-title {
  font-size: 70px;
  margin-top: 0px;
  margin-bottom: 15px;
}

#visited-h2 {
  margin: 0;
  font-size: 27px;
}

#want-to-visit-img {
  width: 600px;
  height: 400px;
  border-radius: 0.7em;
  margin-top: 5px;
  border: solid 3px #8ed3f8;
}

#want-to-visit-title {
  font-size: 70px;
  margin-top: 0px;
  margin-bottom: 15px;
}

#want-to-visit-h2 {
  margin: 0;
  font-size: 27px;
}

#current-restaurant-img {
  width: 700px;
  height: 500px;
  border: solid 3px #8ed3f8;
  border-radius: 0.7em;
}

#submit-comment-button {
  margin-bottom: 150px;
}

#comment-username {
  text-transform: uppercase;
  font-weight: bold;
}

#submit-comment-button-container {
  display: flex;
  justify-content: center;
}

#add-to-visited-button-container {
  margin-right: 1200px;
}

/* #add-to-want-button-container {
  display: inline-block;
} */

#want-and-visited-container {
  display: flex;
  justify-content: center;
}

#want-button {
  display: inline;
}

#browse-title {
  font-size: 70px;
  text-decoration: underline;
  margin-top: 0;
  margin-bottom: 20px;
}

#browse-h2 {
  margin: 0;
  font-size: 27px;
}

.nav {
  display: flex;
  justify-content: center;
  background-color: #f4f1ea;
  margin-bottom: 15px;
}

.nav_container {
  display: flex;
  justify-content: space-between;
  width: 1350px;
  height: 60px;
}

.nav_logo img {
  width: 200px;
  height: auto;
  object-fit: cover;
}

.nav_list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  margin-right: 210px;
}

.nav_list li {
  display: flex;
  align-items: center;
  color: #382110;
  width: 100%;
  height: 50px;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
}

.nav_list li a {
  color: #382110;
  text-decoration: none;
}

.nav_list li:hover {
  background-color: #8ed3f8;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.8;
}

.nav_list li:hover a {
  color: #f4f1ea;
  text-decoration: none;
  cursor: pointer;
}
.nav a:hover {
  color: #f4f1ea;
}

.nav_search {
  display: flex;
  align-items: center;
  width: 270px;
  outline: none;
}

.search-bar {
  height: 35px;
  width: 270px;
  margin-right: 20px;
  border-radius: 0.5em;
  font-size: 18px;
  outline: none;
  padding-left: 10px;
}

.nav .search-bar:focus {
  background-color: #eafcff;
}

.nav_logout {
  display: flex;
  align-items: center;
}

#logout-button {
  height: 35px;
  width: 75px;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-size: 18px;
  background-color: rgb(207, 207, 207);
  color: #6d6d6d;
  border-radius: 2em;
  outline: none;
  margin-left: 50px;
  margin-right: 0px;
}

#logout-button:hover {
  background-color: #382110;
  color: #f4f1ea;
  cursor: pointer;
}

#welcome_message {
  display: flex;
  text-align: left;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  font-size: 40px;
  color: #382110;
  margin-top: 10px;
  margin-bottom: 30px;
  justify-content: center;
}
.content-blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#visited_grid {
  display: grid;
  grid-column-start: 1;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  color: #382110;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
}
#visited_grid img {
  width: 350px;
  height: 250px;
  border-radius: 1em;
  margin-bottom: 20px;
  margin-top: 5px;
}

#wanted_grid {
  display: grid;
  grid-column-start: 2;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  color: #382110;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
}

#wanted_grid img {
  width: 350px;
  height: 250px;
  border-radius: 1em;
  margin-bottom: 20px;
  margin-top: 5px;
}

#top_restaurants {
  display: grid;
  grid-column-start: 3;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  color: #382110;
  margin: 0 auto;
  text-align: center;
}
#top_restaurants img {
  width: 350px;
  height: 250px;
  border-radius: 1em;
  margin-bottom: 20px;
  margin-top: 5px;
}

#visited_grid a {
  color: #8ed3f8;
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
}
#visited_grid a:hover {
  color: black;
  font-family: "Quicksand", sans-serif;
  font-size: 33px;
  font-weight: bold;
  padding: 10px;
}
#top_restaurants a {
  color: #8ed3f8;
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
}
#top_restaurants a:hover {
  color: black;
  font-family: "Quicksand", sans-serif;
  font-size: 33px;
  font-weight: bold;
  padding: 10px;
}
#wanted_grid a {
  color: #8ed3f8;
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
}
#wanted_grid a:hover {
  color: black;
  font-family: "Quicksand", sans-serif;
  font-size: 33px;
  font-weight: bold;
  padding: 10px;
}

#total-rating {
  /* position: relative; */
  /* left: 45%; */
  font-size: 36px;
  /* font-family: "Dancing Script", cursive;
  padding-top: 2%;
  font-weight: bold;
  font-size: 45px;
  color: #382110; */
  /* margin-bottom: .5em; */
}

#total-rating-container {
  display: flex;
  justify-content: center;
}

#user-comment-container {
  display: flex;
  justify-content: center;
}


/*demo stuff */
#demo-button {
  height: 50px;
  width: 90px;
  font-family: "Dancing Script", cursive;
  font-size: 20px;
  font-weight: bold;
  font-size: 25px;
  background-color: rgb(207, 207, 207);
  color: #6d6d6d;
  border-radius: 2em;
  outline: none;
}

#demo-button:hover {
  background-color: #382110;
  color: #f4f1ea;
  cursor: pointer;
}

#login-button:hover {
  background-color: #382110;
  color: #f4f1ea;
  cursor: pointer;
}

/* CSS FOR INDIVIDUAL RESTAURANT PAGES */

#restaurant-name {
  display: flex;
  /* text-align: center; */
  justify-content: center;
  font-size: 70px;
  font-weight: bold;
  margin-top: 0px;
  color: #382110;
  font-family: "Dancing Script", cursive;
}
#restaurant-category {
  display: flex;
  text-align: center;
  justify-content: center;
  color: #382110;
  font-size: 30px;
  font-family: "Dancing Script", cursive;
}

#restaurant-description {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  color: #382110;
}
#restaurant-desc-text {
  display: block;
  width: 800px;
  margin-top: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  color: #382110;
}
#restaurant-img {
  display: flex;
  /* text-align: center; */
  justify-content: center;
  margin-top: 2%;
}

#restaurant-streetAddress {
  display: flex;
  text-align: center;

  justify-content: center;
  margin-top: 1%;
  font-weight: bold;
  font-size: 24px;
  font-family: "Quicksand", sans-serif;
  color: #382110;
}

#restaurant-city {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  color: #382110;
}

#restaurant-state {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  color: #382110;
}

#restaurant-zipCode {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  color: #382110;
}

.form-button {
  height: 50px;
  width: 150px;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  font-weight: bold;
  background-color: rgb(207, 207, 207);
  color: #382110;
  border-radius: 2em;
  outline: none;
  /* position: relative; */
  /* left: 47%; */
  margin-top: 20px;
}

.hidden {
  display: none;
}

/* #remove-button {
  margin-left: 50px;
} */

.form-button:hover {
  background-color: #382110;
  color: #f4f1ea;
  cursor: pointer;
}

#restaurant-rating {
  display: flex;
  text-align: center;
}

.form-redirect {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  padding: 1px;
  margin-left: 40px;

  /* text-align: center; */
  /* justify-content: center; */
}
/*
#all-comments {
  display: flex;
  text-align: center;
} */

/*  box of comments after a use has posted them */
.all-comments {
  /* position: relative;
  left: 33%; */
  /* display: flex; */
  /* justify-content: center; */
  border: 2px solid #3a3a3a;
  padding-bottom: 2%;
  width: 900px;
  height: 500px;
  overflow: scroll;
  background-color: rgb(240, 240, 240);
  outline: none;
  font-size: 58px;
}

#comments-container {
  display: flex;
  justify-content: center;

}

#comment-header-container {
  display: flex;
  justify-content: center;
}

#comments-header {
  /* position: relative; */
  left: 45%;
  font-family: "Dancing Script", cursive;
  padding-top: 2%;
  font-weight: bold;
  font-size: 45px;
  color: #382110;
  margin-bottom: 0.5em;
  display: block;
}

/* the actual comment */
#comment {
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 10px;
  color: #68b7e2;
  background-color: whitesmoke;
  width: 92%;
  border-radius: 1em;
  margin-bottom: 10px;
  margin-left: 20px;
}

/* font for the 'how was it? leave a rating' portion */
#rate-it {
  /* position: relative;
  left: 33%; */
  display: flex;
  justify-content: center;
  font-family: "Dancing Script", cursive;
  padding-top: 2%;
  font-weight: bold;
  font-size: 45px;
  color: #382110;
  margin-bottom: 0.5em;
}

#rated {
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  font-size: 45px;
  color: #68b7e2;
  margin-bottom: 0.5em;
  display: block;
}

#rate-container {
  display: flex;
  justify-content: center;
}

/* text box for leaving a comment */
.user-comment {
  /* position: relative;
  left: 33%; */
  /* align-items: center; */
  /* justify-content: center; */
  border: 2px solid #3a3a3a;
  padding-bottom: 2%;
  width: 800px;
  height: 300px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: scroll;
  background-color: rgb(240, 240, 240);
  outline: none;
  font-size: 24px;
}

/* CSS FOR THE SUBPAGES - WANT TO, VISITED, AND BROWSE */
.restaurant-subpage h1 {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 1%;
  color: #382110;
}

.restaurant-subpage div {
  font-size: 20px;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
  margin-top: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #382110;
}

.restaurant-subpage h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 1%;
  color: #382110;
}

.image-subpage {
  width: 300px;
  height: 200px;
  border-radius: 0.7em;
  margin-top: 5px;
  border: solid 3px #8ed3f8;
}

* {
  margin: 0;
  padding: 0;
}
.rate {
  /* float: left; */
  height: 46px;
  padding: 0 10px;
  /* position: relative; */
  /* left: 46%; */
  /* font-family: "Dancing Script", cursive;
  padding-top: 2%;
  font-weight: bold;
  font-size: 45px;
  color: #382110; */
  margin-bottom: 0.5em;
}
.rate:not(:checked) > input {
  position: absolute;
  /* top:-9999px; */
  visibility: hidden;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
